/*---------- SECCION ADOPCIONES---------*/

.contenedor__adopciones {
    display: grid;
    grid-template-areas:
        "adopta__companero"
}

.adopta__companero {
    grid-area: adopta__companero;
}


.adopta__companero {
    color: black;
    padding: 20px;
    text-align: center;
    margin: 10px 5px 10px 5px;
}

.adopciones {
    width: 80%;
    margin: 0 auto;
}


/* ---------------ANIMACION-------------- */
.card-img-top figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card-img-top figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}